///////////////////////////////////////////////////////////////
body {
	// background-image: url('/static/img/bg.png');
	background-color: #f2f2f2;
  font-family: 'Open Sans','PT Sans';
  text-rendering: optimizeLegibility;
	font-size: 15px;
	line-height: 1.42857143;
	color: #666;
}
a, a:hover, a:focus {
	outline: none;
	text-decoration: none;
	cursor: pointer;
}
div, section {
  display: block;
  position: relative;
}
main {
  padding: 0px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
span {
	display: inline-block;
	vertical-align: middle;
}

///////////////////////////////////////////////////// dop-text
.dop-text {
	padding: 70px;
	padding-bottom: 90px;
	padding-right: 200px;
	padding-left: 200px;
	text-align: center;
	p {
		padding-bottom: 20px;
	}
}