{% load staticfiles %}
<div class="col-xs-12 info">
	<h3>Часто задаваемые вапросы:</h3>
	<div class="widjet-tree">
		<ul class="tree dropdown">
			<a href="#">
				<span><i class="material-icons">arrow_drop_down</i></span>
				<span>Как я работаю ?</span>
			</a>
			<li class="dropdown-togle">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<ol>
					<li>Уточнение требований, формирование понимания задачи</li>
					<li>Разделение проекта на небольшие этапы</li>
					<li>Работа над одним из этапов</li>
					<li>Демонстрация результата</li>
					<li>Внесение необходимых правок</li>
					<li>Утверждение и оплата этапа</li>
					<li>Работа над следующим этапом</li>
				</ol>
			</li>
		</ul>
		<ul class="tree dropdown">
			<a href="#">
				<span><i class="material-icons">arrow_drop_down</i></span>
				<span>Как я работаю ?</span>
			</a>
			<li class="dropdown-togle">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<ol>
					<li>Уточнение требований, формирование понимания задачи</li>
					<li>Разделение проекта на небольшие этапы</li>
					<li>Работа над одним из этапов</li>
					<li>Демонстрация результата</li>
					<li>Внесение необходимых правок</li>
					<li>Утверждение и оплата этапа</li>
					<li>Работа над следующим этапом</li>
				</ol>
			</li>
		</ul>
	</div>
</div>