{% load staticfiles %}
<div class="col-md-12 widjet-carousel">
	<!-- Wrapper for slides -->
	<div class="col-md-12 carousel-inner">
		{% for work in works %}
			<a href="works?item={{ work.pk }}" class="item animated fadeIn">
				<img src="{{ work.img_small.url }}"/>
				<div class="carousel-caption"></div>
			</a>
		{% endfor %}
		<a class="item animated fadeIn">
			<p>Скоро будет<br>...</p>
		</a>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#" role="button">
		<span><i class="material-icons">chevron_left</i></span>
	</a>
	<a class="right carousel-control" href="#" role="button">
		<span><i class="material-icons">chevron_right</i></span>
	</a>

	<!-- Indicators -->
	<ol class="col-md-12 carousel-indicator">
		{% for i in count %}
			<li></li>
		{% endfor %}
		<li></li>
	</ol>
</div>