{% load staticfiles %}
<div class="menu col-md-2">
	<ul>
		<li><a href="#" class="active" title="Home">
			<span><img src="{% static 'img/foto.jpg' %}"/></span>
			<span>
				<h3>voltilov</h3>
				<p>Web developer</p>
			</span>
		</a></li>
		<li><a href="#" title="About">
			<i class="material-icons">person_outline</i>
			<h5>About</h5>
		</a></li>
		<li><a href="#" title="Portfolio">
			<i class="material-icons">card_travel</i>
			<h5>Portfolio</h5>
		</a></li>
		<li><a href="#" title="Services">
			<i class="material-icons">content_paste</i>
			<h5>Services</h5>
		</a></li>
		<li><a href="#" title="Blog">
			<i class="material-icons">format_align_left</i>
			<h5>Blog</h5>
		</a></li>
		<li><a href="#" title="Contacts">
			<i class="material-icons">mail_outline</i>
			<h5>Contacts</h5>
		</a></li>
		<!-- <li><a href="#" title="Info">
			<i class="material-icons">info_outline</i>
			<h5>Info</h5>
		</a></li> -->
	</ul>
</div>