{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-xs-12 page-header">
	<h4>Обо мне</h4>
	<ul class="site-breadcrumbs">
		<li><a href="/">Главная</a></li>
		<li><i class="fa fa-angle-right"></i></li>
		<li>Обо мне</li>
	</ul>
</div>
<div class="col-xs-12 about">
	<div class="col-xs-12 about-content">
		<div class="col-xs-12 col-sm-3 about-me-small">
			<div class="col-xs-12 im">
				<img src="{% static 'img/foto.jpg' %}"/>
				<h3><font color="#22ACF5">Pyth</font>man</h3>
				<p>Вячеслав Кандауров</p>
				<p>Fullstack разработчик.</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-9">
			<div class="col-xs-12 about-me-big widjet-tree">
				<div class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Коротко обо мне:</span>
					</a>
					<div class="dropdown-togle">
						<p>Люблю веб-разработку и всё, что с ней связано, а ещё люблю музыку — играю на гитаре. 
						Свободное время предпочитаю проводить с друзьями или за ноутбуком в поисках интересных 
						web решений. Нравится фильм Гарри Поттер, машина Tesla model 3, интересные технологии, 
						а также мне нравятся интересные люди.</p>
					</div>
				</div>
				<div class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Что умею:</span>
					</a>
					<div class="dropdown-togle">
						<p>Кроссбраузерно верстаю сайты — фиксированные, резиновые или адаптивные. Придумываю и 
						стилизую промежуточные состояния интерактивных элементов, если дизайнер их не нарисовал. 
						Добавляю анимации, если требуется оживить макет. Пишу скрипты для логики на стороне клиента. 
						Перед сдачей проекта оптимизирую производительность — сжимаю и склеиваю стили, 
						скрипты и картинки. Использую современные технологии. Пишу чистый и понятный код, который 
						легко поддерживать.</p>
						<p>Могу писать серверную часть пока только на Python(Django).</p>
					</div>
				</div>
				<div class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Мой подход:</span>
					</a>
					<div class="dropdown-togle">
						<ul class="ul">
							<li>я вижу разницу в пару пикселей (слёзы наварачиваются когда вижу кривые сайты,
							так и хочется их переделать);</li>
							<li>я вижу разницу в размерах элементов (например неправильное соотношение 
							кнопки к блоку );</li>
							<li>придерживаюсь и являюсь техническим пропогандистом минимализма;</li>
							<li>иногда приходится выпиливать лишний код из библиотек (конечно только при 
							понимании того что я делаю);</li>
							<li>после написания кода, просматриваю где можно применить другую методологию, 
							для оптимизации потребляеммых ресурсов и увеличении скорости работы.</li>
						</ul>
					</div>
				</div>
				<div class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Что мне интересно:</span>
					</a>
					<div class="dropdown-togle">
						<ul class="ul">
							<li>переход между событиями (что происходит когда вы нажимаете кнупку 'home' ? 
							Она перенаправляет вас на станицу домой, правильно, но человеческому глазу не 
							видно как происходит процес перехода, поэтому они и не кажутся нам реалистичными);</li>
							<li>анимация интерфейсов;</li>
							<li>разработка финансовых инструментов;</li>
							<li>разработка инструментов для разработчиков;</li>
						</ul>
					</div>
				</div>
				<div class="tree dropdown">
					<a href="#">
						<span><i class="fa fa-angle-down"></i></span>
						<span>Какие технологии я использую:</span>
					</a>
					<div class="dropdown-togle">
						<p>Этот список не полный и он переодически обнавляется (ну это маленький намёк на то, что я 
						постоянно учусь):</p>
						<ul class="tags">
							{% for category in categories %}
								<li>{{ category }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}