.services {
  padding: 10px;
}
.services .wraper {
  padding: 20px;
}
.services ol,
.services ul {
  padding-left: 40px;
}
.services ol li,
.services ul li {
  padding: 3px;
  list-style: decimal;
  font-size: 15px;
  line-height: 1.5;
  color: #666;
}
@media (min-width: 591px) {
  .services .wraper {
    padding: 50px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 768px) {
  .services {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 984px) {
  
}
@media (min-width: 1068px) {
  .services {
    padding-left: 95px;
    padding-right: 100px;
  }
}
